<form class="mt-2" [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Register</h2>
    <hr />
    <div>
        <app-text-input [formControlName]="'email'" [label]="'Email address'"></app-text-input>
    </div>
    
    <app-text-input [formControlName]="'nickname'" [label]="'Nickname'"></app-text-input>
    <app-text-input [formControlName]="'password'" [label]="'Password'" [type]="'password'"></app-text-input>
    <app-text-input [formControlName]="'confirmpassword'" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </div>
    
</form>
